@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');


body {
  margin: 0;
  padding:0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-self: center;
  align-items: center;
  min-height: 100vh;
  background-image: url(/myevent/public/event-bg.jpg);
  /* background: url('./components/Assests/bg1.webp' )no-repeat; */
  /* background-color: rgb(104, 114, 206); */

  background-size: cover;
  background-position: center;
  background-attachment: fixed; 
  
  background-position: center;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
